<html>
<head>
	
</head>
<body>
	<form action="/weibao/index/getApiDateByUrl" method="post" target="_blank">
	getApiDateByUrl
	<input type="text" name="shop_url">
	<input type="submit"></form>

	<form action="/weibao/index/showApiFirstData" method="post" target="_blank">
	showApiFirstData
	<input type="text" name="shop_url">
	<input type="submit"></form>

	<form action="/weibao/index/showApiUrl" method="post" target="_blank">
	showApiUrl
	<input type="text" name="shop_url">
	<input type="submit"></form>

	<form action="/weibao/index/showApiEveryData" method="post" target="_blank">
	showApiEveryData
	<input type="text" name="shop_url">
	<input type="submit"></form>
	*********************************淘宝********************************************
	<form action="/weibao/index/getTBShopData" method="post" target="_blank">
	<input type="text" name="shop_url">
	<input type="submit"></form>
	
	<form action="/weibao/index/showApiAll" method="post" target="_blank">
	<input type="text" name="shop_url">
	<input type="submit"></form>

	<form action="/weibao/index/showApiAll" method="post" target="_blank">
	<input type="text" name="shop_url">
	<input type="submit"></form>

	<form action="/weibao/index/showApiAll" method="post" target="_blank">
	<input type="text" name="shop_url">
	<input type="submit"></form>


	*******************************************************************************
	<form action="/weibao/index/showApiFirstData" method="post" target="_blank">
	<input type="text" name="shop_url">
	<input type="submit"></form>

	<form action="/weibao/index/showApiFirstData" method="post" target="_blank">
	<input type="text" name="shop_url">
	<input type="submit"></form>

	<form action="/weibao/index/showApiFirstData" method="post" target="_blank">
	<input type="text" name="shop_url">
	<input type="submit"></form>
	<form action="/weibao/index/showApiFirstData" method="post" target="_blank">
	<input type="text" name="shop_url">
	<input type="submit"></form>

	<form action="/weibao/index/showApiFirstData" method="post" target="_blank">
	<input type="text" name="shop_url">
	<input type="submit"></form>
	getDataByUrl
	<form action="/weibao/index/getDataByUrl" method="post" target="_blank">
	<input type="text" name="shop_url">
	<input type="submit"></form>
</body>
</html>