<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/static/css/tm_shop.css"/>
		<link rel="stylesheet" type="text/css" href="/static/css/swiper-3.4.1.min.css"/>
		<script type="text/javascript" src="/static/build/flexible.js" ></script>
	</head>
	<body>
		<div id="tmShopCt" v-cloak>
			<header>
				<section class="shop_header">
					<div class="header_img">
						<img :src="shopData.data.shop_other_data.backImage"/>
					</div>
					<div class="header_info">
						<a href="#" class="shop_logo">
							<img :src="shopData.data.shop_other_data.logo"/>
						</a>
						<div class="collect_wrapper">
	                
			                <div class="collect_item">收藏</div>
			                <div class="collect_item collect_counter">
			                    <p v-text="shopData.data.shop_other_data.collectCounter">
			                    </p>
			                    <p>粉丝</p>
			                </div>
			            </div>
						<div class="tm_contact">
			                <div class="tm_ctn">
			                    <span class="name" v-text="shopData.data.shop_other_data.shopName"></span>
			                </div>
			                
			            </div>
					</div>
				</section>
			</header>
			<section class="nav_tab">
				<a href="#" class="selected_tab"><i></i><span>首页</span></a>
				<a href="#" @click="toCommodityList()"><i></i><span>全部商品</span></a>
				<a href="#"><i></i><span>上新</span></a>
				<a href="#"><i></i><span>店铺活动</span></a>
			</section>
			<!--<section>
				<div class="tm_search">
	                <span class="icon_search"></span>
	                在店铺内搜索
	            </div>
			</section>-->
			<section class="section_swiper" v-if='banner[0]'>
				<div class="swiper-container"  id="swiper1">
				    <div class="swiper-wrapper">
				        <div class="swiper-slide " v-for='item in banner[0].bannerArrData'>
				        	<img :src="item.image"/>
				        </div>
				    </div>
				</div>
			</section>
			<section  class="section_swiper" v-if="conponQueryData.data.count>0">
				 <div class="swiper-container"  id="conponList">
				    <div class="swiper-wrapper">
				        <div class="swiper-slide " v-for='item in conponQueryData.data.couponList'>
				        	<img src="//gw.alicdn.com/tps/i1/TB1NavLKpXXXXcgaXXXkmBt9FXX-342-192.png_300x300.jpg_.webp"/>
				        	<p class="price">￥{{item.amount}}</p>
				        	<p class="title">本店{{item.thresholdDesc}}</p>
				        	<p class="time" >{{item.startTime}}前有效</p>
				        </div>
				    </div>
				</div>
			</section>
			<section class="shopCmdImageList" v-if='images.length>0'>
				<div v-for='item in images' v-if='item.length>0'  >
					<span v-for="items in item" @click="toDetailByItemSearch(items,$index)" :style="{width:items.styleBinding.width*1.155/75 + 'rem',height:items.styleBinding.height*1.155/75 + 'rem'}">
						<img :src="items.imageUrl"/>
					</span>
				</div>
			</section>
			<section class="section_swiper" v-if='banner[1]'>
				<div class="swiper-container" id="swiper2">
				    <div class="swiper-wrapper">
				       <div class="swiper-slide " v-for='item in banner[1].bannerArrData'>
				        	<img :src="item.image"/>
				        </div>
				    </div>
				</div>
			</section>
			<section class="commodity_contain_itemsearch" v-if='itemSearch' v-for="item in itemSearch">
				<div class="title_container_itemsearch">
					<span>{{item['title'+($index+1)]}}</span>
				</div>
				<ul class="data_grid" v-if="$index==0">
					<li v-for="items in item.list" @click="toDetailGird(items,$parent.$index)">
							<a href="javascript:void(0)"><img :src="items.item1.imgUrl" alt="" /></a>
							<h2 v-text="items.item1.title"></h2>
							<p><span>￥{{items.item1.priceYuan}}</span><span class="priceFen">.00</span></p>
					</li>
				</ul>
				<ul class="data_grid" v-else>
					<li v-for="items in item.list" @click="toDetailGird(items,$index)">
							<a href="javascript:void(0)"><img :src="items.item2.imgUrl" alt="" /></a>
							<h2 v-text="items.item1.title"></h2>
							<p><span>￥{{items.item1.priceYuan}}</span><span class="priceFen">.00</span></p>
					</li>
				</ul>
			</section>
			<section class="enhenced" v-if="enhenced"> 
				<div class="title_container_itemsearch" v-if="enhenced.title">
					<span>{{enhenced.title}}</span>
				</div>
				<ul v-if='enhenced.list.length>1' class="girdList">
					<li v-for="item in enhenced.list" @click="toDetailByEnhenced(item)">
						<a href="javascript:void(0)"><img :src="item.imgUrl" alt="" /></a>
						<h2 v-text="item.title"></h2>
						<p>
							<span>￥{{item.priceYuan}}</span><span class="priceFen">.00</span><del>￥{{item.price}}</del>
						</p>
					</li>
					
				</ul>
				<ul v-else>
					<li v-for="item in enhenced.list" @click="toDetailByEnhenced(item)">
						<a href="javascript:void(0)"><img :src="item.imgUrl" alt="" /></a>
						<h2 v-text="item.title"></h2>
						<p>
							<span>￥{{item.priceYuan}}</span><span class="priceFen">.00</span><del>￥{{item.price}}</del>
							<span class="sold">月销量{{item.sold30daysQuantity}}</span>
						</p>
					</li>
				</ul>
			</section>
			<section class="getItemLists" v-if="getItemLists">
				<h3>排行榜</h3>
				<div class="ranking_nav">
					<div :class="{'selected_ranking':rinkingIndex==0}" @click="selectRinking(0)">会员最爱</div>
					<div :class="{'selected_ranking':rinkingIndex==1}" @click="selectRinking(1)">收藏排行</div>
					<div :class="{'selected_ranking':rinkingIndex==2}" @click="selectRinking(2)">销量排行</div>
				</div>
				<div class="ranking_data">
					<div class="ranking_left" @click="toDetailByRank(0)">
						<span class="topImg">
							<img src="//gw.alicdn.com/tps/i1/TB1YeF.GXXXXXc4XFXXYdsBGpXX-40-45.png_48x48.jpg_.webp"/>
						</span>
						<img :src="rankingData[0].imgUrl"/>
						<p class="solePrice">
							已售 {{rankingData[0].totalSold}}
							<span>￥{{rankingData[0].price}}</span>
						</p>
					</div>
					<div class="ranking_right">
						<div @click="toDetailByRank(1)">
							<span class="topImg">
								<img src="//gw.alicdn.com/tps/i2/TB1HHOjGXXXXXa8XXXXYdsBGpXX-40-45.png_48x48.jpg_.webp"/>
							</span>
							<img :src="rankingData[1].imgUrl"/>>
							<p class="solePrice">
								已售 {{rankingData[0].totalSold}}
							</p>
						</div>
						<div @click="toDetailByRank(2)">
							<span class="topImg">
								<img src="//gw.alicdn.com/tps/i3/TB1XmB.GXXXXXX5XVXXYdsBGpXX-40-45.png_48x48.jpg_.webp"/>
							</span>
							<img :src="rankingData[2].imgUrl"/>
							<p class="solePrice">
								已售 {{rankingData[0].totalSold}}
							</p>
						</div>
					</div>
				</div>
			</section>
			<section class="shop_commodity_contain">
				<div class="big_title_container">
					<span>-为你推荐-</span>
				</div>
				<ul class="data_grid">
					<li v-for="item in individuationData[0].list" @click='toDeatail(item)'>
						<a href="javascript:void(0)"><img :src="item.imgUrl" alt="" /></a>
						<h2 v-text="item.title"></h2>
						<p><span>￥{{item.priceYuan}}</span><span class="priceFen">.00</span></p>
					</li>
				</ul>
			</section>
		</div>
		<script type="text/javascript" src="/static/js/zepto.min.js" ></script>
		<script type="text/javascript" src="/static/js/swiper-3.4.1.min.js" ></script>
		<script type="text/javascript" src="/static/js/vue.min.js" ></script>
		<script type="text/javascript">
			var data={$data},shopData={},conponData,itemSearch=[],rankingData,getItemLists,conponQueryData,individuationData=[],banner=[],imagesModel=[],couponList=[],enhenced;
			for(var i=0;i<data.length;i++){
				var apiData=JSON.parse(data[i].api_data);
				if(data[i].api_url=="mtop.tmall.shop.page.get"){
					shopData.data=apiData;
				console.log(shopData)
				}else if(data[i].api_url=="mtop.shop.decorate.coupon.query"){
					conponQueryData=apiData;
				}else if(data[i].api_url=="com.taobao.shop.getConpon1111"){
					conponData=apiData;
				}else if(data[i].api_url=="mtop.taobao.shop.itemSearch"){
					itemSearch.push(apiData);
					console.log(apiData)
				}else if(data[i].api_url=="mtop.taobao.geb.enhenced.itemList.get"){
					enhenced=apiData;
				}else if(data[i].api_url=="mtop.taobao.rankingListRecommendService.getItemLists"){
					getItemLists=apiData;
					rankingData=getItemLists.favoredByDiamonds;
				}else if(data[i].api_url=="mtop.taobao.shop.individuation"){
					individuationData.push(apiData);
				}
			}
			(function(){
				var len1=shopData.data.view.subViews.length;
					for(k=0;k<len1;k++){
						if(shopData.data.view.subViews[k].viewId=='shop_decorate_area'){
							var len2=shopData.data.view.subViews[k].subViews.length;
							for(var i=0;i<len2;i++){
								if(shopData.data.view.subViews[k].subViews[i].type=='sliderView'){
									try{
										var name=shopData.data.view.subViews[k].subViews[i].foreach.array.replace('$','');
										var obj={
											bannerArrName:name,
											bannerArrData:shopData.data.data[name]
										}
										banner.push(obj);
									}catch(e){
										//TODO handle the exception
										alert(e)
									}
								}else if(shopData.data.view.subViews[k].subViews[i].type=='container'&&shopData.data.view.subViews[k].subViews[i].viewId!='coupon_info'){
									var length=shopData.data.view.subViews[k].subViews[i].subViews.length;
									var modelData=[];
									var isLabel=false;
									for(var l=0;l<length;l++){
										if(shopData.data.view.subViews[k].subViews[i].subViews[l].type=='image'){
											try{
												var name=shopData.data.view.subViews[k].subViews[i].subViews[l].dataBinding.url.replace('$','');
												if(shopData.data.view.subViews[k].subViews[i].subViews[l].events){
													var len3=shopData.data.view.subViews[k].subViews[i].subViews[l].events[0].actions.length;
													for(j=0;j<len3;j++){
														if(shopData.data.view.subViews[k].subViews[i].subViews[l].events[0].actions[j].type=='openURL'){
															var openUrl=shopData.data.view.subViews[k].subViews[i].subViews[l].events[0].actions[j].param.url.replace('$','');
														}
													}
													var obj={
														bannerArrName:name,
														imageUrl:shopData.data.data[name],
														cmdId:openUrl,
														styleBinding:shopData.data.view.subViews[k].subViews[i].subViews[l].styleBinding
													};
													modelData.push(obj)
													isLabel=false;
												}else{
													var obj={
														label:[],
														bannerArrName:name,
														imageUrl:shopData.data.data[name],
														styleBinding:shopData.data.view.subViews[k].subViews[i].subViews[l].styleBinding
													};
													modelData.push(obj)
													isLabel=true;
												}
												
											}catch(e){
												//TODO handle the exception
												//alert(e)
											}
										}else if(shopData.data.view.subViews[k].subViews[i].subViews[l].type=='container'){
											try{
												if(shopData.data.view.subViews[k].subViews[i].subViews[l].events){
													var len5=shopData.data.view.subViews[k].subViews[i].subViews[l].events[0].actions.length;
													for(j=0;j<len5;j++){
														if(shopData.data.view.subViews[k].subViews[i].subViews[l].events[0].actions[j].type=='openURL'){
															var openUrl=shopData.data.view.subViews[k].subViews[i].subViews[l].events[0].actions[j].param.url.replace('$','');
														}
													}
													if(l>0&&shopData.data.view.subViews[k].subViews[i].subViews[l-1].type=="image"){
														var obj={
															dataBinding:openUrl,
														}
														modelData[0].label.push(obj);
													}
												}
											}catch(e){
												//TODO handle the exception
												//alert(e)
											}
										}else if(shopData.data.view.subViews[k].subViews[i].subViews[l].type=='label'&&isLabel){
											try{
												var obj={
													dataBinding:shopData.data.view.subViews[k].subViews[i].subViews[l].dataBinding.value.replace('$',''),
													styleBinding:shopData.data.view.subViews[k].subViews[i].subViews[l].styleBinding,
												}
												console.log(modelData)
												modelData[0].label.push(obj);
											}catch(e){
												//TODO handle the exception
												//alert(e)
											}
											
										}
									}
									imagesModel.push(modelData);
								}
							}
						}
						
					}
			})();
			var vm=new Vue({
				el:"#tmShopCt",
				data:{
					shopData:shopData,
					conponData:conponData,
					conponQueryData:conponQueryData,
					individuationData:individuationData,
					itemSearch:itemSearch,
					banner:banner,
					images:imagesModel,
					rinkingIndex:0,
					rankingData:rankingData,
					getItemLists:getItemLists,
					enhenced:enhenced,
				},
				methods:{
					selectRinking:function(index){
						this.rinkingIndex=index;
						if(index==0){
							this.rankingData=getItemLists.favoredByDiamonds;
						}else if(index==1){
							this.rankingData=getItemLists.totalCollect;
						}else if(index==2){
							this.rankingData=getItemLists.totalSold;
						}
					},
					toDeatail:function(item){
						location.href='/weibao/index/processUrl?isTm=1&itemId='+item.nid;
					},
					toDetailByRank:function(index){
						location.href='/weibao/index/processUrl?isTm=1&itemId='+this.rankingData[index].id;
					},
					getQueryString:function (name,url) { 
						var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i"); 
						var r = url.substr(1).match(reg); 
						if (r != null) return unescape(r[2]); return null; 
					},
					toDetailByEnhenced:function(item){
						location.href='/weibao/index/processUrl?isTm=1&itemId='+item.nid;
					},
					toDetailByItemSearch:function(item,index){
						if(item.cmdId){
							if(shopData.data.data[item.cmdId].indexOf('catId')>-1){
								console.log('跳转商品列表')
							}else if(shopData.data.data[item.cmdId].indexOf('id')>-1){
								var url = shopData.data.data[item.cmdId].slice(shopData.data.data[item.cmdId].indexOf('?')); 
								var id=this.getQueryString('id',url);
								location.href='/weibao/index/processUrl?isTm=1&itemId='+id;
							}
						}else if(item.label){
							var keys = item.label[index].dataBinding.replace("title",'url');
							var urls = shopData.data.data[keys].slice(shopData.data.data[keys].indexOf('?'));
							var id=this.getQueryString('id',urls);
							location.href='/weibao/index/processUrl?isTm=1&itemId='+id;
						}
						
					},
					toCommodityList:function(){
						location.href="/weibao/index/tmShopCommodityList";
					},
					toDetailGird:function(item,index){
						if(index==0){
							var id = item['item1'].nid;
						}else if(index==1){
							var id = item['item2'].nid;
						}
						location.href='/weibao/index/processUrl?isTm=1&itemId='+id;
					}
				}
			})
			
			//借用swiper插件，图片轮播
			var mySwiper = new Swiper ('#swiper1', {
			    direction: 'horizontal',
			    loop: true,
			})
			var mySwiper2 = new Swiper ('#swiper2', {
			    direction: 'horizontal',
			    loop: true,
			})
			var recommend_swiper = new Swiper ('#conponList', {
			    direction: 'horizontal',
			    loop: false,
			    slidesPerView:2, //分组显示 
			    spaceBetween:10
			});
		</script>
	</body>
</html>
