<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/static/css/tm_shop_commodity_list.css"/>
		<script type="text/javascript" src="/static/build/flexible.js" ></script>
		<script src="/static/js/axios.min.js"></script>
	</head>
	<body>
		<div id="commodity_list_ct">
			<header>
				<!--<section class="head_search">
					<div class="filter_back"><a href="/" class="to_shop_mp">&nbsp;</a></div>
					<div class="searchbar_wrap">
	            		<input type="text" name="" id="" value="" />
			        </div>
			        <div class="head_right">
			        	<div id="J_GlobalNav" class="mui-header-global-nav"><b></b></div>
			        </div>
			        
				</section>-->
				<section class="head_nav">
					<div @click="sort(item,$index)" class="o_item " :class="{'selected_item':$index==sortIndex,'prict_sort':$index==3}" v-for='item in sortArr' >{{item.title}}<i class="before" v-if='$index==3' :class="{'sort_pd':item.flag}"></i><i class="after" v-if='$index==3' :class="{'sort_p':!item.flag}"></i></div>
				</section>
			</header>
			<article>
				<ul>
					<li v-for='item in cmdList' @click="teDetail(item)">
						<div class="img_wrap"><img v-if="$index<=5" :src="item.img" :alt="item.title"  class="cmd_item"/><img v-else :data-src="item.img" src="data:image/webp;base64,UklGRhoAAABXRUJQVlA4TA0AAAAvAAAAEAcQERGIiP4HAA==" :tiele="item.title" class="cmd_item"/>
						</div>
						<div class="ti_info">
							<h3 v-text='item.title'></h2>
							<p><span class="price">￥{{item.price}}</span><span class="num">月销{{item.sold}}笔</span></p>
						</div>
					</li>
				</ul>
				<section  class="state" v-show='loadingFlag'><i class="loading"></i>正在搜索中，请稍等</section>
				<section  class="is_the_last">已经看到最后啦~</section>
			</article>
			<footer><p>©&nbsp;2003-2017&nbsp;Tmall.com&nbsp;版权所有</p>
			</footer>
		</div>
		<script type="text/javascript" src="/static/js/vue.min.js" ></script>
		<script type="text/javascript">
			var vm=new Vue({
            		el:"#commodity_list_ct",
            		data:{
            			sortArr:[
            				{
            					title:"综合",
            					sort:'s',
            				},
            				{
            					title:"销量",
            					sort:'d',
            				},
            				{
            					title:"上新",
            					sort:'oldstarts',
            				},
            				{
            					title:"价格",
            					sort:'p',
            					flag:true,
            				},
            			],
            			cmdList:[],
            			loadingFlag:true,
            			sortIndex:0,
            		},
            		created:function(){
            			var obj={
            				sort:'s',
            			}
            			this.sort(obj,0);
            		},
            		methods:{
            			sort:function(item,index){
            				this.sortIndex=index;
            				console.log(index)
            				var scriptRecommend = document.createElement('script');
            				if(index==3){
            					if(item.flag){
            						item.sort='pd',
            						item.flag=false;
            					}else{
            						item.sort='p',
            						item.flag=true;
            					}
            				}
				            scriptRecommend.src = "{$shopUrl}/shop/shop_auction_search.do?sort="+item.sort+"&p=1&page_size=12&from=h5&shop_id=850725306&ajson=1&_tm_source=tmallsearch&callback=jsonp";
				            document.body.appendChild(scriptRecommend);
				             setTimeout(function(){
				            	scriptRecommend.parentNode.removeChild(scriptRecommend);
				            },2000)
				            checkImage();
            			},
            			sortByPrice:function(item){
            				
            			},
            			teDetail:function(item){
            				var id = this.getQueryString('id',item.url.slice(item.url.indexOf("?")))
            				location.href='/detail/1/'+id;
            			},
            			getQueryString:function (name,url) { 
							var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i"); 
							var r = url.substr(1).match(reg); 
							if (r != null) return unescape(r[2]); return null; 
						},
            		}
            	})
            function jsonp(a){
            	vm.cmdList=a.items;
            	vm.loadingFlag=false;
            }
            window.addEventListener('scroll',checkImage,true);
            var timer=0;
            function checkImage() {
            	clearTimeout(timer);
            	timer = setTimeout(function(){
            		console.log(1)
	            	var	lazys = document.querySelectorAll('.cmd_item')
	            		l=lazys.length
	            	if(l>6){
	            		for (var i = 0; i < l; i++) {
					      var rect = lazys[i].getBoundingClientRect();
					      if (rect.top < window.innerHeight&&i>5 ) {
					      	if(lazys[i].src.indexOf('AAAAvAAAA')>-1){
					      		lazys[i].src=lazys[i].getAttribute('data-src');
					      	}
					      }
					    }
	            	}
            	},300);
            	
			}
		</script>
	</body>
</html>
