<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>个人中心</title>
		<link rel="stylesheet" type="text/css" href="/static/css/weibao_person_center.css"/>
		<script type="text/javascript" src="/static/build/flexible.js" ></script>
	</head>
	<body>
		<header>
			<div class="head_bg">
				<img src="//gw.alicdn.com/tfscom/TB10.51HFXXXXXqXpXXYx6l2pXX-750-235.jpg_q90"/>
			</div>
			<div class="person_info">
				<img src="/static/images/TB1yeWeIFXXXXX5XFXXuAZJYXXX-210-210.png_40x40.jpg" class="head_sculpture"/>
				<div class="user_name">
					2333344444555
				</div>
				<div class="fav_num">
					<a class="" href="/weibao/index/weibaoMyFav">
						<i>2</i>
						<p>收藏的宝贝</p>
					</a>
					<a class="" href="/weibao/index/weibaoMyFav">
						<i>2</i>
						<p>收藏的店铺</p>
					</a>
				</div>
			</div>
		</header>
		<article>
			<a href="/weibao/index/weibaoMyFav">
				<div class="to_fav_cmd">
					收藏的宝贝
				</div>
			</a>
			<a href="/weibao/index/weibaoMyFav">
				<div class="to_fav_shop">
					关注的店铺
				</div>
			</a>
		</article>
	</body>
</html>
